*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

.main-container{
    width: 75%;
    margin: 0 auto;
}

button{
    padding: 15px 30px;
    border: none;
}